@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body {
    background: #0A79BF;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 35%;
    font-family: sans-serif;
    justify-content: center;
}
form {
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
fieldset {
    border: none;
}
fieldset.grupo .campo{
    float: left;
    margin-right: .2em;
}
#titulo {
    color: #ff0000;
    text-align: center;
}
#subtitulo {
    color: #ff0000;
    text-align: center;
}
.campo {
    color: #12B39A;
    margin-left: 1em;
    margin-bottom: .2em;
    padding: .2em;
    display: block;
}
.campo label {
    display: block;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #12B39A;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    display: block;
}
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e0e0f8;
}
.aplic {
    color: #12B39A;
    display: inline-block;
    margin-bottom: .2em;
    margin-left: 1em;
}
div#check {
    color: #12B39A;
    display: inline-block;
    margin-right: .2em;
    margin-left: 1em;
}

#botao {
    width: 100px;
    height: 25px;
    background: #0DFFDA;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    justify-content: center;
    margin-bottom: 1em;
    margin-left: 37%;
}
#botao:hover {
    background: #12B39A;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}

footer {
    margin-top: 10px;
    text-align: center;
}