@charset "UTF-8";

body {
    background: white;
}
/*-----------------------FIELDSET'S--------------------*/
fieldset#cabecalho {
    background-color: #2b0963;
    margin: -9px;
    border: none;
    padding-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset#conteudo {
    background-color: rgb(182, 182, 182);
    border: none;
    margin: 50px 700px 10px 50px;
    border-radius: 10px;
}
/*-----------------IMAGEM LOGO HTML CONTEUDO----------*/
#html{
    position: absolute;
    margin: -30px 0px 0px -50px;
}
#codigo{
    margin-left: 40px;
    margin-top: 10px;
}
/*-----------------------CABEÇALHO--------------------*/
div#logo-site p {
    color: white;
}
/*-----------------------TITULO-----------------------*/
div#titulo h1{
    color: #00f0ff;
    font-size: 70pt;
    line-height: .5;
    padding: 0px;
    margin-bottom: 0px;
}
div#titulo h2{
    color: #00f0ff;
    font-size: 40pt;
    line-height: .5;
    padding: 0px;
    margin-top: 30px;
}
/*-----------------------SUBTITULO---------------------*/
div#subtitulo h1{
    color: white;
    font-size: 40pt;
    margin-bottom: 0px;
}

div#subtitulo h2{
    color: white;
    font-size: 40pt;
    margin-top: 0px;
}
/*-----------------------IMAGENS-----------------------*/
div#logo {
    text-align: right;
    display: block;
    height: 70px;
}
/*-----------------------RODAPÉ-----------------------*/
footer {
    clear: both;
    text-align: center;
    border-top: 1px solid #2b0963;
}