@charset "UTF-8";

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}
/*-----------------------FIELDSET'S--------------------*/
fieldset#cabecalho {
    background-color: #2b0963;
    margin: -9px;
    border: none;
    padding-bottom: 100px;
}
fieldset#conteudo {
    background-color: rgb(182, 182, 182);
    border: none;
    margin: 50px 700px 10px 50px;
    border-radius: 10px;
}
/*-------------------------MENU-----------------------*/
nav#menu {
    display: block;
}
nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 20px;
    left: 650px;
}
nav#menu li {
    display: inline-block;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
    border-radius: 8px;
}
li:hover {
    background-color: #038c96;
}
nav#menu a {
    color: white;
    text-decoration: none;
}
nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}
li#cM {
    background-color: red;
}
li#cM:hover {
    background-color: rgb(161, 10, 10);
}
li#cFL {
    background-color: gray;
}
li#cFL:hover {
    background-color: #606060;
}
/*-----------------------CABEÇALHO--------------------*/
div#logo-site p {
    color: white;
}
/*-----------------------TITULO-----------------------*/
div#titulo h1{
    color: #00f0ff;
    font-size: 70pt;
    line-height: .5;
    padding: 0px;
    margin-bottom: 0px;
}
div#titulo h2{
    color: #00f0ff;
    font-size: 40pt;
    line-height: .5;
    padding: 0px;
    margin-top: 30px;
}
/*-----------------------SUBTITULO---------------------*/
div#subtitulo h1{
    color: white;
    font-size: 40pt;
    margin-bottom: 0px;
}

div#subtitulo h2{
    color: white;
    font-size: 40pt;
    margin-top: 0px;
}
/*-----------------IMAGENS CABEÇALHO------------------*/
div#logo {
    position: absolute;
    margin: -320px 10px 0px 500px;
    display: block;
    height: 70px;
}
div#logo02 img#HTML5{
    transform: rotate(20deg);
    position: absolute;
    margin: -320px 10px 0px 500px;
    display: block;
}
div#logo02 img#CSS{
    transform: rotate(-20deg);
    position: absolute;
    margin: -200px 10px 0px 500px;
    display: block;
}
div#logo02 img#JS{
    position: absolute;
    margin: -230px 10px 0px 570px;
    display: block;
}
/*-----------------------CONTEUDO-----------------------*/
/*--------------------TEXTO CONTEUDO--------------------*/
.titulo {
    color: #2b0963;
    font-size: 25pt;
    text-align: center;
}
.conteudo {
    color: black;
    font-size: 20pt;
    text-align: left;
    position: absolute;
    margin: -250px 450px 0px 570px;
}
/*--------------------IMAGEM CONTEUDO-------------------*/
#html{
    position: absolute;
    margin: -40px 0px 0px -55px;
}
#codigo{
    margin-left: 40px;
    margin-top: 10px;
}
/*-----------------------RODAPÉ-----------------------*/
footer {
    clear: both;
    text-align: center;
    border-top: 1px solid #2b0963;
}