@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.imagem01{
    width: 100%;
    height: 800px;
    background-image: url(../_imagens/imagem1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.imagem02{
    width: 100%;
    height: 800px;
    background-image: url(../_imagens/imagem2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.imagem03{
    width: 100%;
    height: 800px;
    background-image: url(../_imagens/imagem3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.faixa{
    width: 100%;
    height: auto;
    background: #ffcccc;
}